.App {
  border: 4px lightsalmon solid;
  border-radius: 4px;
  margin: auto;
  padding: 3rem;
  margin-top: 3rem;
  width: 40rem;
}

.buttons {
  margin: 5rem 0;
}

button {
  margin-bottom: 1rem;
}

h1 {
  margin-bottom: 5rem;
}
